/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: gray;
    margin: 0;
    padding: 20px;
}

.form-container {
    background-color: #e7d3d3;
    border-radius: 8px;
    padding: 50px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* .container{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
} */

.button{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.popup{
    background: rgba(0,0,0,0.6);
    width:80%;
    height:80%;
    position: absolute;
    top:50%;
    left:50%;
    display: none;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    text-align: center;
}

.popup-content{
    height: 250px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

img{
    height: 250px;
    width: 250px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.close{
    position: absolute;
    top: -25px;
    right: -50px;
    background: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
    cursor: pointer;
}